pkgbase = python-dulwich
	pkgdesc = Pure-Python implementation of the Git file formats and protocols
	pkgver = 0.22.1
	pkgrel = 1
	url = https://www.dulwich.io
	arch = x86_64
	license = GPL
	checkdepends = python-gpgme
	checkdepends = python-paramiko
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	depends = python-setuptools
	depends = python-urllib3
	optdepends = python-fastimport: for fast-import support
	optdepends = python-gpgme: for PGP signature support
	optdepends = python-idna: for HTTPS support via urllib3
	optdepends = python-paramiko: for use as the SSH implementation
	optdepends = python-pyopenssl: for HTTPS support via urllib3
	optdepends = python-pyinotify: to watch for changes to refs
	source = git+https://github.com/jelmer/dulwich.git#tag=dulwich-0.22.1
	b2sums = 5c263266b7e7205efbe1be1bbbac50258c8229f166961b83fdcdb3d87780c31489886eb83ce2defafe86fedafb027ae334fcc7bfb49d212de96f06e819236800

pkgname = python-dulwich
