pkgbase = python-dulwich
	pkgdesc = Pure-Python implementation of the Git file formats and protocols
	pkgver = 0.21.7
	pkgrel = 2
	url = https://www.dulwich.io
	arch = x86_64
	license = GPL
	checkdepends = python-gpgme
	checkdepends = python-paramiko
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-urllib3
	optdepends = python-fastimport: for fast-import support
	optdepends = python-gpgme: for PGP signature support
	optdepends = python-idna: for HTTPS support via urllib3
	optdepends = python-paramiko: for use as the SSH implementation
	optdepends = python-pyopenssl: for HTTPS support via urllib3
	optdepends = python-pyinotify: to watch for changes to refs
	source = git+https://github.com/jelmer/dulwich.git#tag=dulwich-0.21.7?signed
	validpgpkeys = DC837EE14A7E37347E87061700806F2BD729A457
	b2sums = d0883536089a129f96fe3e2b00e90d9eb8e1ec70dc2637acccbe4102a045ef77e3b2ce0cce2ebb6ccef3ec54d37687707745fb11e73e099291ab49cae64d4c59

pkgname = python-dulwich
